.single-video__container{
    display: grid;
    grid-template-columns: 1fr 40rem;
}

.single-video{
    width: 80%;
    margin: auto;
    padding: var(--padding-medium);
}

.single-video iframe{
    width: 100%;
    height: 50rem;
    border-width: 0;
}

.single-video--info{
    padding: var(--padding-medium);
}

.single-video--description{
    padding: 0 var(--padding-medium);
}

.single-video--actions{
 margin: var(--margin-medium)  0;
 display: flex;
 align-items: center;
 justify-content: space-between;
}

.single-video--actions--container{
    margin: var(--margin-medium)  0;
    display: flex;
    align-items: center;
   }

.single-video--action{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: var(--padding-large)
}

.notes__container{
    padding: 0 var(--padding-medium)
}

.note__input--container{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.note__input{
   height: auto;
   border: 1px solid var(--clr-grey);
}

.note__input:focus{
    border: 1px solid var(--clr-light);
    outline: none
}
.note--content{
    flex-grow: 1;
}

.notes--section{
    padding: var(--padding-medium)
}

.single-video--action:hover{
    color: var(--clr-secondary);
    cursor: pointer;
}

.video--active{
    color: var(--clr-secondary);
}

.del--icon:hover{
    cursor: pointer;
    color: var(--clr-error)
}

.note--login{
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media only screen and (max-width: 1200px) {
    .single-video__container{
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    .single-video{
        width: 100%;
        margin: auto;
    }
}


@media only screen and (max-width: 900px) {

    .single-video__container{
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 600px) {

    .single-video{
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .single-video iframe{
        height: 25rem;
    }

    .single-video--action{
        padding: 0 var(--padding-medium);
    }

    .single-video--action:first-child{
        padding-left: 0
    }

    .single-video--actions--container p{
        display: none;
    }

    .single-video--actions--container i{
        font-size: var(--text-large);
    }

    .notes--section{
        padding: 0
    }

    .note--login{
        height: 30vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}